body {
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    background-color: #6dd4ff;
    vertical-align: middle;
}
h1 {
    color: black;
    text-align: center;
}
p {
    font-family: Papyrus,fantasy;
    color: darkblue;
    text-align: center;
}
button {
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
.wrapper {
    text-align: center;
}
